blockquote {
  border-left: 5px solid #525252;
  font-style: italic;
  margin-left: $space-1;
  padding: $space-1;
}

blockquote footer {
  background-color: $lightest-gray;
  border-color: transparent;
  color: #525252;
  font-size: .85rem;
  font-style: normal;
  text-align: left;
  padding: 0;
}
