pre,
pre code {
  padding: 0px;
  background-color: transparent;
  border-radius: $pre-border-radius;
}

pre,
code {
  background-color: $pre-background-color;
  font-family: $monospace-font-family;
}

code {
  padding: 5px;
  color: #525252;
}

pre {
  padding: 1.125em;
  line-height: 1.11;
  overflow-x: scroll;
  margin-bottom: 0.88em;
}

.highlight .p {
  font-size: 1.125rem;
  line-height: 1;
}

pre {
    counter-reset: line-numbering;
    white-space: pre;
    overflow-x: auto;
    word-break: inherit;
    word-wrap: inherit;
}

pre a {
    background-image: none;
}

pre code .comment, pre code.comment, code.comment, code.comment a,
pre code .comment a, pre code.comment a {
    color: $dark-green;
}

pre code a, code a {
    color: #525252;
    text-decoration: underline;
}

pre code a:hover,
pre code a:focus,
pre code a:active,
code a:hover,
code a:focus,
code a:active {
  border: 0;
  color: $link-hover-color;
  text-decoration: none;
  background-image: linear-gradient(to top,
    rgba(0,0,0,0) 13%,
    rgba($link-hover-color,.8) 13%,
    rgba($link-hover-color,.8) 17%,
    rgba(0,0,0,0) 17%
  );
  text-shadow: white 1px 0px 0px, white -1px 0px 0px;
}
