.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
}

.site-header a {
  color: $mid-gray;
  font-size: $h3;
  font-weight: 300;
  background-image: none;
}

.site-header .site-title {
  font-size: $h2;
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
  color: $mid-gray;
}

.site-header a:hover,
.site-header a:focus,
.site-header a:active
.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  color: $dark-gray;
  opacity: 1;
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}
