
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid $light-gray;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: $mid-gray;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #525252;
  font-style: italic;
}

.post-summary .footnotes,
.post-summary .footnote {
  display: none;
}

.post-summary a[href^='#'] {
  pointer-events: none;
  cursor: default;
  color: $mid-gray;
  text-decoration: none;
  background-image: none;
  text-shadow: none;
}

