table pre code {
    font-size: 0.80rem;
}

table th {
    padding: 1em;
}

table pre {
  padding: 0.5em;
}

table.code-columns {
  border-spacing: 0;
}

table.code-columns td {
  padding-left: 0em;
  padding-right: 0em;
}
