---
layout: default
---

{% assign minutes = content | strip_html | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <h1>{{ page.title }}</h1>
  <span class="post-meta">{{ page.date | date: site.date_format }}</span><br>
  {% if page.update_date %}
    <span class="post-meta">{{ site.text.post.updated }}: {{ page.update_date | date: site.date_format }}</span><br>
  {% endif %}
  <span class="post-meta small">
  {% if page.minutes %}
    {{ page.minutes }} {{ site.text.post.minute_read }}
  {% else %}
    {{ minutes }} {{ site.text.post.minute_read }}
  {% endif %}
  </span>
</div>

<article class="post-content">
  {{ content }}
</article>

{% if page.comments_issue_number %}
  <h2>
    <a href="https://gitlab.com/stiemannkj1/stiemannkj1.gitlab.io/issues/{{ page.comments_issue_number }}" target="_blank">Comments</a>
  </h2>
{% endif %}

{% if site.show_sharing_icons %}
  {% include share_buttons.html %}
{% endif %}

{% if site.show_post_footers %}
  {% include post_footer.html %}
{% endif %}

{% if site.disqus_shortname %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname  = '{{ site.disqus_shortname }}';
    var disqus_identifier = '{{ page.id }}';
    var disqus_title      = '{{ page.title }}';

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

{% if site.facebook_comments %}
  <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%" data-numposts="{{ site.facebook_comments_number }}"></div>
{% endif %}

{% if page.tags %}

  {% for post in site.posts %}
    {% if page.url == post.url %}
      {% assign current_post_index = forloop.index %}
      {% assign next_post_index = forloop.index | minus:1 %}
    {% endif %}
  {% endfor %}

  {% comment %}
    Find related posts older than this post first.
  {% endcomment %}
  {% assign count = 0 %}
  {% for post in site.posts offset:current_post_index %}
    {% for tag in post.tags %}
      {% if page.tags contains tag %}
        {% if count == 0 %}
          <h3 class="related-post-title">Related Posts</h3>
        {% endif %}
        <div class="post ml2">
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
            <h4 class="post-title">{{ post.title }}</h4>
            <p class="post-summary">{{ post.summary }}</p>
          </a>
        </div>
        {% assign count = count | plus:1 %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if count == 5 %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% comment %}
    If less than 5 related posts have been found, find related posts newer than this post.
  {% endcomment %}
  {% if count < 5 %}
    {% for post in site.posts limit:next_post_index %}
      {% for tag in post.tags %}
        {% if page.tags contains tag %}
          {% if count == 0 %}
            <h3 class="related-post-title">Related Posts</h3>
          {% endif %}
          <div class="post ml2">
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
              <h4 class="post-title">{{ post.title }}</h4>
              <p class="post-summary">{{ post.summary }}</p>
            </a>
          </div>
          {% assign count = count | plus:1 %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% if count == 5 %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}

<div class="pagination clearfix mb1 mt4">
  <div class="responsive-left">
    {% if page.previous and page.previous.url != '/about/' %}
      <a class="pagination-item responsive-item" href="{{ page.previous.url | prepend: site.baseurl }}">{{ site.text.pagination.previous }}: {{ page.previous.title | truncate:30 }}</a>
    {% else %}
      <span class="pagination-item disabled responsive-item">{{ site.text.pagination.previous }}</span>
    {% endif %}
  </div>
  <div class="responsive-right">
    {% if page.next %}
      <a class="pagination-item responsive-item" href="{{ page.next.url | prepend: site.baseurl }}">{{ site.text.pagination.next }}: {{ page.next.title | truncate:30 }}
</a>
    {% else %}
      <span class="pagination-item disabled responsive-item">{{ site.text.pagination.next }}</span>
    {% endif %}
  </div>
</div>

